* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(255, 171, 251);
}

/* mise en page */

section {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

section .image { flex: 1 0 auto; }
section .texte { flex: 0 1 auto; }


/* image autoscaling */
section .image { position: relative; }
section .image img{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 img{ image-rendering: pixelated; }




/*section {outline: 2px solid blue; outline-offset: -4px;}
.texte {outline: 2px solid rgb(255, 0, 0); outline-offset: 0px;}
.image {outline: 2px solid rgb(139, 25, 134); outline-offset: 0px;}*/

/* scrolling */

html, body {scroll-snap-align: y mandatory;}
section {scroll-snap-align: start;}